{% extends "admin_base.html" %}

{% block editing %}artist{% endblock %}
{% block form %}
<form action="{{ url_for('admin.artists') }}" method="POST" enctype="multipart/form-data">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert-message block-message error">
            <a class="close" href="#">×</a>
                <ul>
                    {% for msg in messages %}
                        <li>{{ msg }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    <div class="form__container">
        <label for="name">name</label>
        <input type="text" name="name" id="name" placeholder="name" autocomplete="off">
    </div>
    <div class="form__container">
        <label for="about">about</label>
        <textarea type="text" name="about" id="about" placeholder="about" autocomplete="off"></textarea>
    </div>
    <div class="form__container">
        <label for="image">image</label>
        <input type="text" name="image" id="image" placeholder="image" autocomplete="off">
    </div>
    <div class="form__container">
        <label for="image">birth date</label>
        <input type="date" name="birthday" id="birthday" placeholder="birth date" autocomplete="off">
    </div>
    <button type="submit">Create</button>
</form>
{% endblock %}
{% block listname %}Artists{% endblock %}
{% block list %}
    <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>about</th>
            <th>image</th>
            <th>birth date</th>
            <th>age</th>
        </tr>
    </thead>
    <tbody>
        {% for artist in artists %}
            <tr>
                <th>{{ artist.id }}</th>
                <td>{{ artist.name }}</td>
                <td>{{ artist.about|truncate(100) }}</td>
                <td>{{ artist.image }}</td>
                <td>{{ artist.birth_date }}</td>
                <td>{{ artist.age }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}