<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music | {% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" /> -->
</head>
<body>
    <nav>
        <a href="{{ url_for('music.artists') }}">Artists</a>
        {% if session.get("is_admin") %}
            <a href="{{ url_for('admin.artists') }}">Admin</a>
        {% endif %}
    </nav>
    {% block main %}
    
    {% endblock %}
</body>
</html>